<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/ipl/IPL"
			class = "org.xtext.example.ipl.iPL.IPLPackage"
			genModel = "model/generated/IPL.genmodel" />
	</extension>
	
 <extension
       id="org.xtext.example.ipl.marker"
       name="IPL marker"
       point="org.eclipse.core.resources.markers">
       <super type = "org.eclipse.core.resources.problemmarker"/> 
       <attribute name="IPL"/>
       <super type = "org.eclipse.core.resources.textmarker"/> 
       <persistent value="true"/> 
 </extension>
</plugin>
