out
/.m2/
bin/
build/
.gradle/
*._trace
*.xtendbin
org.eclipse.buildship.core.prefs
target
generated
generated-sources
src-gen
xtend-gen
.antlr-generator-*.jar
.DS_Store
/org.xtext.example.ipl/
/org.xtext.example.ipl.ide/
/org.xtext.example.ipl.prism.lib/
/org.xtext.example.ipl.prism.plugin/
/org.xtext.example.ipl.target/
/org.xtext.example.ipl.tests/
/org.xtext.example.ipl.ui/
/org.xtext.example.ipl.ui.tests/
/org.xtext.example.ipl.viewgen/
/org.xtext.example.ipl.web/
